node_modules/
provision/output/*
!provision/output/.gitkeep
match-bot/input/*
!match-bot/input/.gitkeep
match-bot/output/*
!match-bot/output/.gitkeep
*.tif
*.shp
*.shx
*.dbf
*.prj
*.gpkg
*.parquet
__pycache__/
.DS_Store
